* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: orange;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp2613873.jpg");
  background-size: cover;
  background-position: center;
}

/*nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: cyan;
}

nav > a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

/*#new-form *,  #add-review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}
*/

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid cyan;
}

table td {
  padding: 10px;
  text-align: center;
}

footer, p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
 }
