* {
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background-image: url("https://wallpapercave.com/wp/wp2613873.jpg");
    background-size: cover;
    background-position: center;
}

header,footer {
    display: flex;
    align-items: center;
    height: 3rem;
}

header {
  padding-left: 15px;
  color: #3b4cca;
  box-shadow: 1px 1px 3px 2px gray;
}


label {
  flex-direction: column;
}

footer {
  justify-self: center;
}