<%- include('../partials/header') %>

<body>
    <h1>Edit</h1>
    <form action="/clients/<%= client._id %>?_method=PUT" method="POST">
    <input type="text" name="workouts" value="<%= client.workout %>">
    <input type="submit" value="submit">
    </form>
</body>

<%- include('../partials/footer') %> 