<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheets/style.css" />
    <title>Schedule your Session | Schedule here!</title>
</head>

<body>
<h1>Schedule here!</h1>
    <form action="/clients" method="POST">
        <label>Date:
            <input type="datetime-local"  id="session-time" 
            name="appt" value="2022-01-01T12:30"
            min="2022-01-01T12:01"
            >
        </label>
        <label>Workout:
            <input type="text" name="workout">
        </label>
        <label>Trainer:
            <select name="trainer">
                <option value="Power Lifting">Power Lifting</option>
                <option value="Body Building">Body Building</option>
                <option value="HIIT">HIIT</option>
            </select>
        </label>
        <input type="submit" value="Schedule">
    </form>
    <a href="/"><button> Home </button></a>
<footer>
    <p>All Rights Reserved Copyright &copy; 2021</p>
</footer>

</body>



</html>